@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Roboto', sans-serif;
	}

	body {
		background-color: black;
	}

	.bg {
		background-image: url(https://images.unsplash.com/photo-1505664194779-8beaceb93744?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
		width: 100%;
		min-height: 100vh;
		background-size: cover;
		background-position:center;
		position: fixed;
		z-index: -1;
		filter: blur(10px) brightness(0.7);
		overflow-y: hidden;
	}

/*nav*/
	

	nav {
		display: flex;
		position: fixed;
		background-color: #242E3A;
		width: 100%;
		padding: 20px 10%;
		align-items: center;
		justify-content: space-between;
		z-index: 1

	}

	.nav-links {
		display: flex; 
	}

	.nav-links li {
		list-style: none;
		padding: 0px 20px;

	}

	.nav-links li a { 
		color: #f2f3f4;
		text-decoration: none;
		font-size: 22px;
		font-family: 'Poppins', sans-serif;
		transition: all 0.3s ease 0s;
	}

	.nav-links li a:hover{
		color: #878a8f;
		transition: all 0.3s ease 0s;
	}

/*jumbotron*/
	.jumbo img {
		width: 70%;
		height: 400px;
		overflow: hidden;
		background-repeat: no-repeat;
		display: block;
		margin: auto;
	}

/*container*/
	.container {
		width: 95%;
		position:relative;
		top: 100px;
		padding: 10px;
		background-color: rgba(256, 256, 256, 0.6);
		margin: auto;
		transform: translateY(50px);

	}

	.container1 {
		width: 50%;
		/*background-color: white;*/
		margin: auto;
		padding: 10px;
		border: 5px black;
	}

	.containerindex{
		width: 95%;
		padding: 10px;
		background-color: rgba(256, 256, 256, 0.6);
		margin: auto;
		transform: translateY(50px);

	}

	.containerindex .mid {
		margin: 20px 0 10px;
	}

/*text*/

	h1 {
		font-size: 35px;
		text-align: center;
	}

	a {
		color: black;
		font-size: 20px;
		text-decoration: none;
	}

	a:hover {
		cursor: pointer;
	}

	p {
		font-size: 18px;
		text-align: justify;
	}

	h2 {
		font-size: 28px;
		font-weight: 700;
		text-align: center;
	}

	h3 {
		font-size: 22px;
		font-weight: 400;
	}

	.poin {
		font-size: 23px;
		font-weight: 600;
	}

	.contoh {
		font-size: 20px;
		font-weight: 500;
	}

	.ptombol {
		font-size: 27px;
	}

	.mid {
		text-align: center;
	}



/*button*/
	button {
		display: block;
		margin: auto;
		padding: 6px;
		border-radius: 10%;
	}

	button:hover{
		cursor: pointer;
	}

/*img*/
	.buku {
		width: 25%;
		display: block;
		margin: auto;
	}

	.gambar {
		width: 65%;
		display: block;
		margin: auto;
	}

	nav a img {
		width: 70px;
		border-radius:50%;
	}

/*media*/

	@media(max-width:1000px ){
		.container1 {
			width: 100%;
		}

		.buku {
		width: 30%;
		}

		h1 {
			font-size: 27px;
		}

		p {
			font-size: 15px;
		}

		h2 {
		font-size: 22px;
		}

		h3 {
			font-size: 18px;
		}

		.poin {
			font-size: 20px;
		}

		.contoh {
		font-size: 17px;
		}

		.ptombol {
		font-size: 20px;
		}

	}